<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users Data</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <section>
            <div>
                <%users.forEach((user)=>{%>
                    <div class="eachData">
                        <h3>Name : <%=user.name%></h3>
                        <p>Age : <%=user.age%></p>
                        <p>Email : <%=user.email%></p>
                        <p>Address : <%=user.address%></p>
                        <p>Bio : <%=user.bio%></p>
                        <p>Hobbies : <%=user.hobbies%></p>
                        <a href="/users/<%=user.id%>">
                        <button>Each User</button></a>
                    </div>
                <%})%>
    </section>
</body>
</html>