<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single User</title>
</head>
<body>
    <section>
        <h3>Name : <%=users.name%></h3>
        <p>Age : <%=users.age%></p>
        <p>Email : <%=users.email%></p>
        <p>Address : <%=users.address%></p>
        <p>Bio : <%=users.bio%></p>
        <p>Hobbies : <%=users.hobbies%></p>
        <a href="/users/<%=users.id%>/edit">
            <button>Update User</button>
        </a>
        <a href="/users/<%= users.id%>/delete">
            <button>Delete User</button>
        </a>
    </section>
</body>
</html>